<div class="plant-details-grid">
    <%- plantImageTag %>
    <div class="plant-details-label">Common Name:</div>
    <div><%= plant.CommonName %></div>
    <div class="plant-details-label">Botanical Name:</div>
    <div><%= plant.BotanicalName %></div>
    <div class="plant-details-label">Light Needs:</div>
    <div><%= plant.Light %></div>
    <div class="plant-details-label">Temperature Needs:</div>
    <div><%= plant.Temperature %></div>
    <div class="plant-details-label">Ideal Humidity:</div>
    <div><%= plant.RelativeHumidity %></div>
    <div class="plant-details-label">Suggested Soil Mix:</div>
    <div><%= plant.SuggestedSoilMix %></div>
  </div>